body {
  margin: 0;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .card-footer
{
  padding: 5px 10px 1px 10px;
} */


.card-size {
  min-width: 360px;
  max-height: 300px;
  margin: 5px 5px;
}

.grid-header {
  /* font-weight: 900; */
  font-size: 14px;
}

.phrases {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

div .sun-editor-custom {
  font-family: Arial;
  font-size: 13px;
  padding: 5px;
}

.sun-editor-button{
  font-family: Arial;
  font-size: 16px;
}

ul li {
  position: relative;
  left: 1.2em;
  padding-right: 1em;
}

.toggleButtonGroup{
  border:1px solid #2196f3 !important;
}